* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/BayernMunichBall.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .fas {
  display: none;
}
nav img {
  width: 90px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ff1a0a;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  font-size: 14px;
  margin: 10px 0 40px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 13px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #ff1a0a;
  background: #ff1a0a;
  transition: 1s;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -200px;
    background: #ff1a0a;
    height: 100vh;
    width: 200px;
    z-index: 2;
    text-align: left;
    transition: 1s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* news */

.news {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}

.news h1 {
  font-size: 36px;
  font-weight: 600;
}

.news p {
  padding: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  font-weight: 300;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.news-col {
  flex-basis: 31%;
  margin-bottom: 5%;
  border-radius: 10px;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.news-col h3 {
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.news-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* jersey */

.jersey {
  width: 80%;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.jersey-col {
  flex-basis: 32%;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.jersey-col img {
  width: 100%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(225, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.6s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* Stadium */

.stadium {
  width: 80%;
  padding-top: 100px;
  margin: auto;
  text-align: center;
}

.stadium-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.stadium-col img {
  width: 100%;
  border-radius: 10px;
}

.stadium-col p {
  padding: 0;
}

.stadium-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* Contact us */
.contact {
  margin: 100px auto;
  text-align: center;
  width: 80%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/fanImage.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 100px 0;
}

.contact h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .contact h1 {
    font-size: 24px;
  }
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 25px;
}
.icons .fab {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.far {
  color: #f44336;
}

/* ---------------------- About Us page ---------------------- */

.sub-header {
  height: 55vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/AboutUsBanner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
  text-align: justify;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  color: #f44336;
  border: 1px solid #f44336;
  background: transparent;
}

.red-btn:hover {
  color: #fff;
}

/* ---------------------- contact us page ------------------------- */

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fas {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  color: #555;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 25px;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

/* News */

.info {
  width: 80%;
  margin: auto;
}

.info-col {
  flex-basis: 32%;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.info-col img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.info-col h3 {
  margin-top: 5px;
  color: #ff1a0a;
  cursor: pointer;
}

.info-col p {
  margin-top: 5px;
  color: #777;
  font-weight: 300;
}

.second-info-col {
  flex-basis: 22%;
}

.second-row {
  flex-wrap: wrap;
}

.second-info-col p {
  display: none;
}

@media (max-width: 1200px) {
  .second-info-col {
    flex-basis: 32%;
  }
}

@media (max-width: 900px) {
  .second-info-col {
    flex-basis: 46%;
  }
}

@media (max-width: 700px) {
  .second-info-col p {
    display: block;
  }
}
